:root {
  --bs-body-bg: #0f0f0f;
  --bs-body-color: #ffffff;
}

body,html {
  padding-top: 56px;
  scroll-padding-top: calc(56px + 1rem);
}

.navbar {
  padding: 0.5rem 0.5rem;
  background-color: #3c0367;
  filter: drop-shadow(2px 4px 6px #19012E);
}

.link-hero {
    font-size: 1.2rem !important;
}

.link-hero,[data-bs-theme=dark] .link-carousel {
  color: #adb5bd!important;
  -webkit-text-decoration-color: RGBA(var(--bs-dark-rgb),var(--bs-link-underline-opacity, 1));
  text-decoration-color: RGBA(var(--bs-dark-rgb),var(--bs-link-underline-opacity, 1))
}

.link-hero:hover,.link-hero:focus,[data-bs-theme=dark] .link-carousel:hover,[data-bs-theme=dark] .link-carousel:focus,[data-bs-theme=dark] .link-footer:hover,[data-bs-theme=dark] .link-footer:focus {
  color: #d6dade!important;
  -webkit-text-decoration-color: RGBA(26,30,33,var(--bs-link-underline-opacity, 1));
  text-decoration-color: RGBA(26,30,33,var(--bs-link-underline-opacity, 1))
}

.hero {
  background-image: url(/images/hero.webp);
  position: relative;
  z-index: 1000;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.hero-back {
  background-color: #0005;
  padding: 2rem;
}

.title {
  font-family: var(--font-title);
  font-size: calc(3rem + 4.5vw);
}