---
import Layout from '../layouts/Layout.astro';
import CardLayout from '../components/CardLayout.astro';
---

<Layout title="Home" description="Welcome to Stephanie's Treasures, your one-stop shop for unique and handcrafted items." keywords="handcrafted, unique items, gifts, Stephanie's Treasures" author="Stephanie's Treasures" color="#ff69b4">
	<main id="index">
		<div class="text-center mb-4 rounded-2 hero shadow">
			<div class="hero-back rounded-2">
				<h1 class="title fw-light lh-1">Stephany's<br>Treasures</h1>
				<p class="fs-5 m-3 mb-0 text-body-secondary">Unique & Handcrafted Items</p>
			</div>
		</div>
		<!-- Product Grid -->
    <CardLayout />
	</main>
</Layout>