---

---

<footer class="d-md-flex vstack flex-wrap flex-md-row gap-2 gap-md-0 justify-content-between align-items-center py-3 mt-4 text-center text-md-start border-top">
  <p class="col-md-auto mb-0 text-body-secondary">© <script is:inline src="/scripts/year.js"></script> Stephany's Treasures LLC</p>
  <p class="col-md-auto mb-0 text-body-secondary"><b><a href="https://github.com/Alex-Toucan/stephanystreasures"><i class="bi bi-github me-2"></i>Source Code</a></b></p>
  <p class="col-md-auto mb-0 text-body-secondary">Developed by <a href="https://atproducts.xyz">AT Products LLC</a></p>
</footer>