<div class="fixed-top my-4 px-ssm-4 px-0 container-sm">
  <nav class="navbar navbar-expand-md shadow rounded-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="Stephany's Treasures Logo" class="navbar-logo" height="45px" />
      </a>
      <button
        class="navbar-toggler p-0 border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="ms-auto">
          <div class="d-flex flex-wrap gap-2 gap-md-4 flex-column flex-md-row align-items-end">
            <a
              class="link-hero"
              href="https://www.ebay.com/usr/stes_do_lslcekm"
              role="button"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="eBay Store <i class='bi bi-box-arrow-up-right ms-2'></i>"
              data-bs-html="true"
            >
              <i class="bi bi-shop fs-4"></i>
            </a>
            <a
              class="link-hero"
              href="/contact"
              role="button"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Contact Us"
            >
              <i class="bi bi-envelope-fill fs-4"></i>
            </a>
            <div class="dropdown">
              <a
                class="link-hero position-relative dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-tooltip="tooltip"
                data-bs-placement="bottom"
                title="Shopping Cart"
              >
                <i class="bi bi-cart-fill fs-4"></i>
                <span
                  id="cart-count"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
                >
                  0
                </span>
              </a>

              <ul class="dropdown-menu dropdown-menu-end p-3" style="min-width: 300px;">
                <div id="cart-dropdown-content">
                  <p class="text-center text-muted mb-0">Cart is empty</p>
                </div>
                <div class="dropdown-divider"></div>
                <button id="dropdown-checkout" class="btn btn-success w-100">
                  Checkout
                </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<script src="/scripts/navbar.js" is:inline></script>
