<div class="fixed-top my-4 px-ssm-4 px-0 container-sm">
  <nav class="navbar navbar-expand-md shadow rounded-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="Stephany's Treasures Logo" class="navbar-logo" height="45px" />
      </a>
      <button
        class="navbar-toggler p-0 border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="ms-auto">
          <div class="d-flex flex-column flex-md-row align-items-start align-items-md-end gap-3 gap-md-4 mt-3 mt-md-0">
            <a
              class="link-hero"
              href="https://www.ebay.com/usr/stes_do_lslcekm"
              role="button"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="eBay Store <i class='bi bi-box-arrow-up-right ms-1'></i>"
              data-bs-html="true"
            >
              <div class="d-flex align-items-center">
                <i class="bi bi-shop fs-4"></i><small class="ms-2 d-md-none">eBay <i class="bi bi-box-arrow-up-right ms-2"></i></small>
              </div>
            </a>
            <a
              class="link-hero"
              href="/contact"
              role="button"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Contact Us"
            >
              <div class="d-flex align-items-center">
                <i class="bi bi-envelope-fill fs-4"></i><small class="ms-2 d-md-none">Contact</small>
              </div>
            </a>
            <div class="dropdown w-100 w-md-auto">
              <a
                class="link-hero dropdown-toggle d-flex align-items-center w-100"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="d-flex align-items-center me-2 position-relative">
                  <i class="bi bi-cart-fill fs-4"></i>
                  <small class="ms-2 d-md-none">Cart</small>

                  <span
                    id="cart-count"
                    class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger d-none"
                  >
                    0
                  </span>
                </span>
              </a>

              <ul
                class="dropdown-menu dropdown-menu-end p-3 position-static position-md-absolute w-100 w-md-auto mt-3"
                style="min-width: 300px;"
              >
                <div id="cart-dropdown-content">
                  <p class="text-center text-muted mb-0">Cart is empty</p>
                </div>
                <div class="dropdown-divider"></div>
                <button id="dropdown-checkout" class="btn btn-success w-100">
                  Checkout
                </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<script src="/scripts/navbar.js" is:inline></script>
